---
layout: nil
---
<!DOCTYPE HTML>
<html>
  <head>
  <meta charset="UTF-8" />
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="style.css" />
  <meta name="viewport" content="width=800" />
  </head>

<body>

<h1>Arxiv2bib</h1>


<nav>
<p>Written by Nathan Grigg</p>

<ul>
<li><a href="#installation">Installation</a></li>
<li><a href="#examples">Examples</a></li>
<li><a href="#documentation">Documentation</a></li>
</ul>

<ul>
<li><a href="https://github.com/nathan11g/arxiv2bib/tarball/master">Download tar.gz</a></li>
<li><a href="https://github.com/nathan11g/arxiv2bib/zipball/master">Download zip</a></li>
<li><a href="https://github.com/nathan11g/arxiv2bib/">View source on Github</a></li>
<li><a href="http://pypi.python.org/pypi/arxiv2bib/">View package on PyPI</a></li>
</ul>
</nav>



<div class="main">

{{ content }}

<footer><p><small>This page's design is based on the
<a href="https://github.com/orderedlist/minimal"> minimal theme</a>
by <a href="https://github.com/orderedlist"> Steve Smith</a>.</small></p>
</footer>

</div>

</body>
</html>

